/* ini css */
.main-title {
    text-align: center;
}

main {
    display: flex; 
}

form {
    padding: 18px;
    background-color: aliceblue;
}

aside {
    padding: 48px;
    text-align: justify;
}

.button {
    height: 32px;
    border: none;
    border-radius: 4px;
}

.form-btn-container {
    margin-top: 24PX;
    margin-bottom: 16PX;
}

.bg-blue {
    background-color: rgb(0, 153, 255);
    color: white;
}

.bg-reset {
    background-color: rgb(255, 0, 76);
    color: white;
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

h3{
    color: black;
    padding: 50px;
    margin-top: 10px;
    text-align: center;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
}
